{% extends 'base.html' %}
{% load static %}

{% block 'links' %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% endblock 'links' %}


{% block 'scripts' %}
<script src="{% static 'operation.js' %}">
</script>
{% endblock 'scripts' %}

{% block 'title' %}
Compra e Venda
{% endblock 'title' %}

{% block 'header' %}
<h1>
    Compra e Venda
    <small>Listagem</small>
</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Compra e Venda</li>
</ol>
{% endblock 'header' %}

{% block 'content' %}

<div class="form-group">
    <div class="input-group">
        <div class="input col-md-2 mr-2">
            <samll>Créditos</samll><input class="form-control" type="number" readonly value="{{total_cred}}">
        </div>
        <div class="input col-md-2 mr-2">
            <samll>Debitos</samll><input class="form-control" type="number" readonly value="{{total_deb}}">
        </div>
        <div class="input col-md-2 mr-2">
            <samll>Total</samll><input class="form-control" type="number" readonly value="{{total}}">
        </div>

        <div class="col-md-6 ">
            <form class="input" style="justify-content:baseline" method="GET">
                <div class="input col-md-5">
                    <input class="form-control" name="date-in" type="date" placeholder="Inicio">
                </div>
                <div class="input col-md-5">
                    <input class="form-control" name="date-out" type="date" placeholder="Fim">
                </div>
                <button class="btn btn-info "><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <table id="tb" class="table table-bordered table-hover dataTable">
        <thead class="">
            <tr>
                <th class="">Data</th>
                <th class="">Origem/Destino</th>
                <th>Tipo</th>
                <th>Desconto</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="scroll">
            {% for op in list_sb %}
            <tr key="{{op.pk}}">
                <td>{{op.date.day}}/{{op.date.month}}/{{op.date.year}}</td>
                <td><a href="/salebuy/{{op.pk}}">{{op.client}}</a></td>
                <td>{% if op.mode == 0 %}
                    VENDA
                    {% elif op.mode == 1%}
                    COMPRA
                    {% endif %}</td>
                <td >{{op.off}}</td>
                <td class="text-{% if op.mode == 0 %}success{% else %}danger{% endif %}"><strong>{{op.amount}}</strong></td>
                <td>{% if op.status == 0 %}
                    OK
                    {% elif op.status == 1%}
                    PENDENTE
                    {% elif op.status == '2'%}
                    CANCELADO
                    {% endif %}</td>
            </tr>
            {% endfor %}

        </tbody>

    </table>
    
    
</div>
{% endblock 'content' %}