{% extends 'base.html' %}
{% load static %}

{% block 'links' %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock 'links' %}


{% block 'scripts' %}
<script src="{% static 'service.js' %}"></script>
{% endblock 'scripts' %}

{% block 'title' %}
Serviços
{% endblock 'title' %}

{% block 'content' %}
<!--
        description
        itens 
        material 
        labor
        off
        client
        status
        date  
    -->
<div class="row pl-1">
    <div id="left-pane" class="col-sm-12 col-md-5 mt-2 ">
        <div id="search_field" class="">
            <form id="search_form" class="ml-3" method="GET">
                <div class="row">
                    <input id="product" name="product" placeholder="Nome do produto" type="text"
                        class="form-control col-8 col-md-9 mb-2 mr-1">
                    <input id="qtd" min="0" placeholder="qtd" type="number" class="form-control col-3 col-md-2 mb-2">
                </div>
                <div class="row">
                    <button class="btn btn-info mb-2 mr-2" onClick="search()"><i class="fa fa-search"></i></button>
                    <a class="btn btn-success mb-2 mr-2" onClick="addCart()"><i class="fa fa-cart-plus"></i></a>
                    <div class="col-2 col-md-4 row pl-4">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="cart_item" name="cart_item" class="custom-control-input">
                            <label class="custom-control-label" for="cart_item">Item</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="cart_material" name="cart_item" class="custom-control-input">
                            <label class="custom-control-label" for="cart_material">Material</label>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="scroll1">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Produto</th>
                        <th scope="col">Qtd/R$</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in stock %}
                    <tr>
                        <td id="{{item.pk}}"
                            onClick="addToRegister([{{item.product.pk}},'{{item}}', {{item.sale_price}}])">
                            {{item.product}}
                        </td>
                        <td>
                            {% if item.qtd > 0 %}
                            ({{item.qtd}})x R${{item.sale_price}}
                            {% else %}
                            (SE)
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="client-data" class="col-sm-12 col-md-7 ">
        <form id="form-service" method="POST">
            {% csrf_token %}

            <div class="col-12">
                <div class="row">
                    <input class="form-control col-12" id="description" name="description" value="Troca de Tela" />
                </div>
                <div class="row">
                    <select class="custom-select col-10 col-md-11" id="client" name="client">
                        {% for item in form.client %}
                        {{item}}
                        {% endfor %}
                    </select>
                    <a id="btn_add-client" class="btn btn-warning"><i class="fa fa-user-plus"></i></a>
                </div>
                <div class="row">
                    <input class="form-control col-6" type="date" id="date" name="date" value="2019-04-07" />
                    <select class="custom-select col-6 col-md-6" id="status" name="status">
                        {% for item in form.status %}
                        {{item}}
                        {% endfor %}
                    </select>
                </div>

            </div>
            <div class="row ">
                <div class="scroll col-12 col-md-6">
                    <table id="table_cart_items" class="table table-striped bg-light">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Itens</th>
                                <th scope="col">Qtd/R$</th>
                                <th scope="col">Act</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lista não Carregada</td>
                                <td>ERRO</td>
                                <td><a class="btn btn-danger"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class=" scroll col-12 col-md-6">
                    <table id="table_cart_materials" class="table table-striped bg-light">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Materiais</th>
                                <th scope="col">Qtd/R$</th>
                                <th scope="col">Act</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lista não Carregada</td>
                                <td>ERRO</td>
                                <td><a class="btn btn-danger" onClick=""><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div>
                <div id="menu_close" class="row  ml-2 mr-2">
                    <div class="row col-md-7">
                        <div class="ml-2 mr-1">
                            <button type="button" onClick="formSubmit()" class="btn btn-success"><i
                                    class="fa fa-shopping-cart"></i></button>
                            <button class="btn btn-danger"><i class="fa fa-times"></i></button>
                        </div>
                        <input id="labor" name="labor" type="number" min="0" max="100" step="0.1"
                            onChange="setTotalOp()" class="form-control col-4 col-md-5" placeholder="Mão de obra" />
                        <input id="offService" name="off" type="number" min="0" max="100" step="0.01"
                            onChange="setTotalOp()" class="form-control col-3 ml-2" placeholder="Desc" />

                    </div>
                    <div class="row col-12 ">
                        <div class="col-6 col-md-4 align-middle">
                            <small>Subtotal</small>
                            <input id="totalop" name="amount" readOnly='true' class="form-control mr-2">
                        </div>
                        <div class="col-6 col-md-6 row">
                            <small class="col-12">Total</small>
                            <input id="totalopOff" type="number" onclick="activeTotalInput()"
                                class="form-control col-md-4" data-toggle="collapse" href="#collapseExample"
                                role="button" readonly>
                            <a id="submitNewTotal" class="btn btn-warning col-5 col-md-2 invisible"
                                onclick="setCustomOff()"><i class="fa fa-edit"></i></a>
                        </div>
                    </div>
                </div>
                <div class="invisible">
                    <input id="input_items_cart" name="input_items_cart" />
                    <input id="input_items_material" name="input_materials_cart" />
                </div>
        </form>
    </div>

</div>



<div id="div-popup" class='row' style="visibility: hidden">
    <iframe id="iframe-popup" class=" bg-light pt-3 rounded-lg"></iframe>
</div>
<div id="div-errors" class="invisible"></div>
{% endblock 'content' %}