{% extends 'base.html' %}
{% load static %}

{% block 'links' %}
{% endblock 'links' %}


{% block 'scripts' %}
{% endblock 'scripts' %}

{% block 'title' %}
Serviços
{% endblock 'title' %}

{% block 'content' %}
<!--
        description
        itens 
        material 
        labor
        off
        client
        status
        date  
    -->
<div class="row">
    <div id="left-pane" class="col-sm-12 col-md-6 ">
        <div id="search_field" class="">
            <form id="search_form" method="GET">
                <div class="row">
                    <input id="product" name="product" placeholder="Nome do produto" type="text"
                        class="form-control col-10 mb-2">
                    <input id="qtd" placeholder="qtd" type="number" class="form-control col-2 mb-2">
                </div>
                <div class="row">
                    <button class="btn btn-info mb-2 mr-2" onClick="search()"><i class="fa fa-search"></i></button>
                    <a class="btn btn-success mb-2 mr-2" onClick="addCart()"><i class="fa fa-cart-plus"></i></a>
                    <a id="btn_add-prod" class="btn btn-warning mb-2 mr-2">
                        <i class="fa fa-plus"></i></a>
                    <input id="sale_price" class="form-control col-4" name="sale_price" type="number"
                        placeholder="R$" />
                    <div class="col-2 col-md-4 row pl-4">
                        <div class="col-12 col-md-5 custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio1">Item</label>
                        </div>
                        <div class="col-12 col-md-5 custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio2">Material</label>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="row scroll1">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Produto</th>
                        <th scope="col">Qtd/R$</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in stock %}
                    <tr>
                        <td id="{{item.pk}}"
                            onClick="addToRegister([{{item.product.pk}},'{{item}}', {{item.sale_price}}])">
                            {{item.product}}
                        </td>
                        <td>
                            {% if item.qtd > 0 %}
                            ({{item.qtd}})x R${{item.sale_price}}
                            {% else %}
                            (SE)
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}

                    {% for item in products %}
                    <tr>
                        <td id="P{{item.pk}}" onClick="addToRegister(['P{{item.pk}}','{{item}}', 0])">
                            {{item.name}}
                        </td>
                        <td>(SC)</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="client-data" class="col-sm-12 col-md-6 ">
        <form method="POST">

            <div class="col-12">
                <div class="row">
                    <input class="form-control col-12" id="description" value="Troca de Tela" />
                </div>
                <div class="row">

                    <input class="form-control col-12" id="client" value="Anonimo" />
                </div>
                <div class="row">
                    <input class="form-control col-6" id="date" value="2019-04-07" />
                    <input class="form-control col-6" id="status" value="OK" />
                </div>

            </div>
            <div class="col-12">
                <div class="row">
                    <table id="cart" class=" col-6 table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Produto</th>
                                <th scope="col">Qtd/R$</th>
                                <th scope="col">Act</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Larry</td>
                                <td>(50)xR$150</td>
                                <td><a class="btn btn-danger"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="cart" class="col-6 table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Produto</th>
                                <th scope="col">Qtd/R$</th>
                                <th scope="col">Act</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Larry</td>
                                <td>(50)xR$150</td>
                                <td><a class="btn btn-danger"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-warning btn-lg btn-block"><i class="fa fa-plus"></i></a>
                </div>

            </div>
            <div>
                <input id="labor" value="R$ 150,00" />
                <input id="off" value="37" />
                <input id="status" value="OK" />
                <label class="switch">
                    <input class="switch-input" type="checkbox" />
                    <span class="switch-label" data-on="On" data-off="Off"></span>
                    <span class="switch-handle"></span>
                </label>
            </div>


        </form>
    </div>

</div>


<div id="div-popup" class='row '>
    <iframe id="iframe-popup" class=" bg-light pt-3 rounded-lg"></iframe>
</div>
<div id="div-errors" class="invisible"></div>
{% endblock 'content' %}