body{
  height: 300px;
}

.anim-fade-in:hover{
    background-color: red; 
  }

  .scroll{
    height: 20vh;
    overflow: auto;
  }

  .scroll-lg{
    height: 80vh;
    overflow: auto;
  }

  .scroll1{
    max-height: 50vh;
    overflow: auto;
  }

  #qtd{
      width: 50px;
  }
  #product{
      width: 100%;
  }
  #salebuy-div{
    width: 100%;
  }

  .div-client{
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }

  .fillH100{
      height:  100%;
  }
  
  .input-group-text{
    height: 10vh;
  }
#off{
    width: 10vh;

}
.bt-caixa{
    width: 100%;
    max-height: 10vh;
    overflow: hidden;
}


.invisible{
  visibility: hidden;
}

.div-popup{
  position: absolute;
  z-index: 100;
  top: 50px;
  left: 50px;
}
.fill{
  width:100%;
}


.card-login {
  width:300px; /* Largura da DIV */
  height:300px; /* Altura da DIV */
  position:absolute; /* Importante! */
  top:50%;
  left:50%;
  margin-top:-150px; /* Essa função pega 50% da altura da tela e compensa com metade da altura da DIV(300px/2 = 150px) */
  margin-left:-150px; /* Essa função pega 50% da largura tela e compensa com metade da largura da DIV(600px/2 = 300px) */
  box-shadow:2px 2px 8px;
  
  }